#container_card {
    margin-top: 30px;
    display: flex;
    width: 70%;;
    height: 600px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 10px #F9F66D;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0 50px;
    
}
#container_card:hover {
    background-color: #545454;
    transform: translateY(-5px);
}
#img_card_main {
    width: 50%;
}
#box_main {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
}
#text_intro {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#box_avatar {
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 0 10px #F9F66D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#box_avatar:hover {
    background-color: #545454;
    transform: translateY(-5px);
}